.player-label-container {
  font-size: 2rem;
  color: white;
  background-color: var(--green);
  height: fit-content;
  padding: 0.6rem;
  border-radius: 4px;
  width: 30%;
  text-align: center;
  cursor: pointer;
}