.players-page-container {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/hero-bg-big.jpeg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  box-sizing: border-box;
  padding: 3rem 0;
  position: relative;

  .buttons-container {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
  }

  .players-list {
    background-color: rgba(0, 0, 0, .8);
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 20px -5px rgba(255, 255, 255, 0.7);

    .players-table-list {
      width: 100%;
      color: white;
      text-align: center;
      font-size: 2rem;
      font-weight: 300;

      td,
      th {
        padding: 1rem;
      }
    }
  }
}