.page-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/hero-bg-big.jpeg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  box-sizing: border-box;
  padding: 3rem 0;
  position: relative;
}